META_TOKEN=EAAVZByt6dKX0BSP5OlhAkWP9HWrwzyBZAKfwoJe4uOmNx1iur7rl1ljVjOLr9QKqZAMBPzuv3L0JPybgU11GNCXVH3I9TZBDvtu6R7Ij3VT7X5V6wZAqWzJY1ynZCRsTfIIN8jPSKaoy6sMaZAZCiZCCOGvmSJo3tm04Di2x6ixPEkL3m3VtbZAZCXVjK7XDngd6PPLOhOf6nqZB5bTb3rdrqFilkxJCO1ZCxqoqi
NOTION_TOKEN=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
NOTION_DB_ID=59b0b055893248878bbbafe807e9cf34
EMAIL_TO=mercedes.vegarobles@gmail.com
